


.item{
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 40px;
}

.imagen_card{
    height: 250px;
}

.card-text{
    font-size: 20px;
}

.boton-agregar{
 background-color: darkblue;
 color: white;
 border: none;
 padding: 10px 40px;
 border-radius: 10px;
 font-size: 20px;
 margin-bottom: 10px;
}

.imagen-producto-carrito{
    height: 100px;
}