.img_carrito{
    font-size: 50px;
    cursor: pointer;
    display: inline;
    align-items: end;
    }

    .ContenedorDeFiltro{
        margin-bottom: 15px;
    }

    #filtroPorCategoria{
        font-size: 25px;
        margin-bottom:15px ;
        
    }

// .listaDeCompras{
//     background-color: gray;
//     position: fixed;
//     overflow: auto;7
//     display: flex;
//     z-index: 2;
//     width: 95%;
//     justify-items: center;
//     top: 12vh;
// }

.encabezado{
    margin: 10px;
    color: blue;
}

.cierra_carrito{
    font-size: 25px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
}

// .pagar{
//     z-index: 4;
//     background-color: antiquewhite;
//     position: fixed;
//     display: flex;
//     width: 95%;
//     justify-items: center;

// }

.totalApagarn{
    font-size: 30 px;
    font-weight: bolder;
}













